#intro {
    margin-top: 10%;
    width: 100%;
    height: 100vh;
    position: relative;
    background-size: cover;
    text-align: center;

  }
  
  #intro .intro-info h2 {
    color: #413e66;
    margin-bottom: 20;
    font-size: 35px;
    font-weight: 700;
  }
  
  #intro .intro-info h2 span {
    color: #1bb1dc;
  }
  
  #intro .intro-info .btn-get-started,
  #intro .intro-info .btn-services {
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 32px;
    border-radius: 4px;
    transition: 0.5s;
    color: #fff;
    background: #1bb1dc;
    color: #fff;
  }
  
  #intro .intro-info .btn-get-started:hover,
  #intro .intro-info .btn-services:hover {
    background: #0a98c0;
  }